<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mageplaza\Blog\Block\Adminhtml\Post\Edit\Tab\Post" type="Apedik\AiBlog\Block\Adminhtml\Post\Edit\Tab\Post"/>
</config>
